* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   width: 100%;
   height: 100vh;
   background-color: #e9cfcf;
   display: flex;
   justify-content: center;
   align-items: center;   
}
.formularioo{
    width: 400px;
    height: 400px;
    background-color: #689b2d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
}
h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
    color: #afcfca;
}
.result{
    background-color: blue;
}
